/* MAIN APPLICATION */

/* Resetting margins, padding, and hiding scrollbars */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
/* Styling the container for the PixiJS canvas */
#hexCanvas {
    display: block;
}

/* STATS BANNER */

.banner-container {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.banner-inner {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.banner-number {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.banner-inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-item {
    font-size: 14px;
}

#connectionStatus {
    font-size: 18px;
}

#serverDelay {
    color: #4a4a4a;
}

#bitcoinResource {
    font-weight: bold;
    color: #f7931a; /* Bitcoin orange color */
}

.banner-divider {
    /* margin: 0 2px; */
    color: #888; /* Adjust color as needed */
}

/* HEXAGON POPUP */
.hex-popup {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    pointer-events: none; /* Make sure the popup doesn't interfere with mouse events */
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.hex-popup-inner {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.hex-popup-content {
    display: flex;
    align-items: flex-start;
}
.hex-popup-full-height-image {
    width: 100px;
    height: auto;
    object-fit: fill;
    margin-right: 10px;
    border-radius: 10px; /* Adding rounded corners */
}

.hex-popup-text {
    display: flex;
    flex-direction: column;
}

.hex-popup-title {
    font-size: 16px;
    font-weight: bold;
    color: #2a9d8f; /* Distinct color for the title */
    margin-bottom: 5px;
}

.hex-popup-item {
    margin-bottom: 5px;
}