<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixiJS Hexagon Grid</title>
    <!-- Importing the PixiJS library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js"></script>
    <!-- Importing the Simplex Noise library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- Import stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unitsDisplay.css') }}">
    
</head>
<body>
    <!-- The container for the PixiJS application -->
    <div id="hexCanvas"></div>
    <!-- Unit display container -->
    <div class="unit-container" id="unitContainer">
        <div class="unit-toggle-btn down" id="unitToggleBtn">
            <span></span>
        </div>
    </div>
    <div class="selection-container" id="selectionContainer">
        <div class="selection-toggle-btn right" id="selectionToggleBtn">
            <span></span>
        </div>
        <div id="selectionContainerContent">
            <div id="selectionContainerContentInner"></div>
    </div>

    <div class="banner-container">
        <div class="banner-inner">
            <!-- <span class="banner-item" id="connectionStatus">●</span> -->
            <span class="banner-item" id="serverDelay">0ms</span>
            <span class="banner-item banner-divider">|</span>
            <span class="banner-item" id="currentTime">00:00:00</span>
            <span class="banner-item banner-divider">|</span>
            <span class="banner-item" id="bitcoinResource">₿ 0.000</span>
        </div>
    </div>
    

    <!-- Import the client.js script -->
    <script src="{{ url_for('static', filename='js/client.js') }}"></script>
    <!-- Import the movement.js script -->
    <script src="{{ url_for('static', filename='js/movement.js') }}"></script>
    <!-- Import the objectsSelection.js script -->
    <script src="{{ url_for('static', filename='js/objectsSelection.js') }}"></script>
    <!-- Importing the custom hexagonal grid script -->
    <script src="{{ url_for('static', filename='js/hexagonalGrid.js') }}"></script>
    <!-- Importing the custom script that will create the hexagonal grid world-->
    <script src="{{ url_for('static', filename='js/pixijsWorld.js') }}"></script>
    <!-- Importing the custom script that will load assets for buildings and units-->
    <script src="{{ url_for('static', filename='js/loadAssets.js') }}"></script>
    <!-- Unit display logic -->
    <script src="{{ url_for('static', filename='js/unitsDisplay.js') }}"></script>
    <!-- Selection display logic -->
    <script src="{{ url_for('static', filename='js/selectionDisplay.js') }}"></script>


</body>
</html>
